.card-header {
    color: white;
    font-weight: 500;
    background-color: cadetblue;
}

.card-title {
    color:rgb(65, 65, 65);
    font-weight: 100;
}

.info {
    color:rgb(0, 0, 0);
    font-weight: 500;
}

button {
    color: white;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding-top: 10px;
}
